services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: blog_db
      POSTGRES_USER: blog_user
      POSTGRES_PASSWORD: 1234567890
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata:



























# services:
#   db:
#     image: postgres:16
#     restart: always
#     environment:
#       POSTGRES_DB: blog_db
#       POSTGRES_USER: blog_user
#       POSTGRES_PASSWORD: 1234567890
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U blog_user"]
#       interval: 5s
#       timeout: 5s
#       retries: 5
#       start_period: 10s
#     ports:
#       - "5432:5432"
#     volumes:
#       - pgdata:/var/lib/postgresql/data

#   backend:
#     build: ./backend
#     env_file:
#       - ./backend/.env
#     volumes:
#       - ./backend:/app
#     depends_on:
#       db:
#         condition: service_healthy
#     ports:
#       - "8000:8000"
#     command: python manage.py runserver 0.0.0.0:8000

# volumes:
#   pgdata:
